<div class="container pb-5">
    <h1 class="text-center my-3">About</h1>
    <div class="row mt-5">
      <div class="col-md-4">
        <img src="assets/profile-img/shortNfury(profile).png" class="img-fluid img-thumbnail" alt="Author Photo">
        <p class="about-info text-center mt-3">Maksim Fedoseev, uczeń klasy 1E</p>
      </div>
      <div class="col-md-8 mt-3">
        
        <p class="about-info mb-3">This page is created for educational purposes only, therefore the data about shown vehicles may not correspond to reality.</p>
        <p class="about-info mb-3">The entire project was made using Angular. </p>
        <ol class="about-info">
          <li>Aplikacja jest podzielona na <b>komponenty (components)</b></li>
          <li>Zawiera <b>formularz (form)</b></li>
          <li>Są wykorzystywane <b>serwisy (services)</b></li>
          <li>Dane o samochodach są pobierane z <b>json-serwera</b>, wykonując <b>zapytania Http (Http queries)</b></li>
          <li>Aplikacja zawiera <b>4 osobne ścieżki (routing)</b></li>
          <li>Używane są <b>dyrektywy strukturalne (*ngFor i *ngIf)</b></li>
        </ol>
      </div>
    </div>
</div>