<div class="container pb-5">
    <h1 class="text-center my-3">About</h1>
    <div class="row mt-5">
      <div class="col-md-4">
        <img src="../../../assets/profile-img/shortNfury(profile).png" class="img-fluid img-thumbnail" alt="Author Photo">
      </div>
      <div class="col-md-8 mt-3">
        <p class="about-info mb-3">Maksim Fedoseev, uczeń klasy 1E</p>
        <p class="about-info mb-3">This page is created for educational purposes only, therefore the data about shown vehicles may not correspond to reality.</p>
        <p class="about-info mb-3">The entire project is made using Angular. </p>
        <ol class="about-info">
          <li>Aplikacja jest podzielona na <b>komponenty</b></li>
          <li>Zawiera <b>formularz</b></li>
          <li>Są wykorzystywane <b>serwisy</b></li>
          <li>dane o samochodach są pobierane z <b>json-serwera</b>, wykonując <b>zapytania Http</b></li>
          <li>Aplikacja zawiera <b>4 osobne ścieżki</b></li>
          <li>Używane są <b>dyrektywy strukturalne</b> (*ngFor i *ngIf)</li>
        </ol>
      </div>
    </div>
</div>