.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border: 3px solid rgb(247, 247, 247);
    border-top-left-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    box-shadow: 0 0 1.5em grey;
}

@media screen and (max-width: 576px) {
    .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        font-size: 0.5em;
    }

    .search-bar .input-group .form-label {
        font-size: 0.7em;
    }
    }

.search-bar {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    box-shadow: 0em 0em 0.5em rgb(95, 95, 95);
}

.sticky-top {
    top: -0.01em;
}

/* input[placeholder] {
    text-overflow:ellipsis;
} */

